
.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: var(--font);
  text-align: center;
  min-height: var(--desktop-main-container-height);
  padding-top: 75px;
}

h1 {
  font-size: 48px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: -.039em;
}

h2 {
  
  padding-top: 40px;
  color: #DDD;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -.015em;
}
