
.container {
  box-sizing: border-box;
  padding-top: 10px;
  height: var(--desktop-header-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font);
}

.logo {
  height: var(--desktop-header-height);
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #FFF;
}

img {
  height: var(--desktop-header-height);
}

h1 {
  letter-spacing: -.039em;
  font-size: 54px;
}


nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

nav a {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .25em;
  color: #FFF;
  margin-right: 45px;
}

nav a:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
}

@media all and (max-width: 1060px) {
  .container {
    height: var(--small-screen-header-height);
    flex-direction: column;
  }

  nav {
  
    justify-content: center;
    margin: auto !important;
  }
}

@media all and (max-width: 650px) {
  .container {
    height: var(--small-screen-header-height);
    flex-direction: row;
    align-items: flex-center;
    margin-top: 0px;
  }

  h1 {
    font-size: 44px;
  }

  .logo {
    flex-grow: 1;
  }

  nav {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}