/* Document Level Styles */
:root {
  --font:  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

  --header-bg-color: #1F3B75;
  --nearly-black-text: #161616;
  --medium-grey-text: #787878;
  --light-grey-text: #4d4c4c;
}

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}