.container {
  font-family: var(--font);
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  padding-top: 60px;
}

th-footer-links {
  grid-column: 1 / 5;
}

th-footer-mailing-list {
  grid-column: 5 / 9;
}

@media all and (max-width: 1030px) {
  th-footer-mailing-list {
    grid-column: 2 / 8;
    grid-row-start: 1
  }

  th-footer-links {
    margin-top: 20px;
    grid-column: 1 / 9;
    grid-row-start: 2;
  }
}

.footer {
  display: flex;
  height: 40px;
  font-family: var(--font);
  background-color: var(--dark-blue);
  color: #DDD;
  padding: 0px 0px 10px 25px;
  align-items: flex-end;
}