.grid {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

th-header {
  grid-column: 1 / 9;
}

th-main-content {
  grid-column: 2 / 8;
}

th-architecture-process {
  grid-column: 2 / 4;
}


th-training-process {
  grid-column: 4 / 6;
}

th-engineering-process {
  grid-column: 6 / 8;
}

@media all and (max-width: 700px) {

  th-main-content {
    grid-column: 1 / 9;
    margin-left: 10px;
    margin-right: 10px;
  }

  th-architecture-process,
  th-training-process,
  th-engineering-process {
    grid-column: 1 / 9;
  }

}