.grid {
    display: grid;
    grid-gap: 1em;
  }
  
  th-header, th-main-content, footer {
    grid-column: 1 / 4;
  }

  
  @media all and (max-width: 700px) {
    aside,
    th-archtecture-process,
    article {
      grid-column: 1 / 4;
    }
  }
  
  /* Demo Specific Styles */
  body {
    /*margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
    */
  }
  
  th-header,
  th-archtecture-process,
  article,
  footer, .main-content {
    background: #eaeaea;
  }

  th-architecture-process {
    margin-left: 30px;
  }