
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  text-align: center;
}

.text-container {
  margin-top: 65px;
}

h1 {
  font-size: 48px;
  color: var(--nearly-black-text);
  font-weight: 700;
  letter-spacing: -.039em;
}

h2 {
  
  padding-top: 40px;
  color: var(--medium-grey-text);
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -.015em;
}

h3 {
  margin: 120px 0px 15px 0px;
  color: var(--blue);
  font-size: 30px;
  font-weight: 600;
}