
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  text-align: center;
}

.text-container {
  margin: 65px 0px;
}

h1 {
  font-size: 48px;
  color: var(--nearly-black-text);
  font-weight: 300;
}

h2 {
  
  padding-top: 40px;
  color: var(--medium-grey-text);
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}

h3 {
  padding: 60px 0px 15px 0px;
  color: var(--light-grey-text);
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #DADADA;
}