
.container {
  margin: 15px;
  padding: 25px;
  font-family: var(--font);
  box-shadow: 0 22px 44px 0 rgba(0,13,36,.1), 0 4px 16px 0 rgba(0,13,35,.12);
  border-radius: 16px;
  min-height: 450px;
  display: flex;
  flex-flow: column;
}


.img-container {
  height: 100px;
  text-align: center;
}

.icon {
  height: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.body {
  margin-top: 10px;
  color: var(--light-grey-text);
  flex-grow: 1;
}

.btn-container {
  text-align: center;
}

ion-button.green-btn button {
  background-color: var(--green);
}

.green-text {
  color: var(--green);
}

ion-button.red-btn button {
  background-color: var(--red);
}

.red-text {
  color: var(--red);
}

ion-button.purple-btn button {
  background-color: var(--purple);
}

.purple-text {
  color: var(--purple);
}

@media all and (max-width: 1170px) {
  .container {
    min-height: 500px;
  }
}

@media all and (max-width: 1050px) {
  .container {
    min-height: 320px;
  }
}