
.container {
  font-family: var(--font);
  padding: 10px;
}

circle {
  fill: #4A81F7;
}

text {
  transform: translate3d(0px, 3px, 0px);
  fill: #333;
  text-anchor: middle;
  font-size: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-title-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 36px;
  font-weight: 300;
}

.copy {
  color: var(--medium-grey-text);
}